<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title><ui:insert name="titulo">Sistema Financeiro</ui:insert>
	</title>
	<h:outputStylesheet library="css" name="estilo.css" />
</h:head>
<h:body>
	<header>

		<h:graphicImage library="images" name="logo.png" />
	</header>
	<div id="conteudo">
		<ui:insert name="corpo" />
	</div>
	<footer> Sistema Financeiro - AlgaWorks </footer>
</h:body>
</html>