<!DOCTYPE html>
<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<f:metadata>
		<f:viewAction action="#{consultaLancamentosBean.consultar}" />
	</f:metadata>
	<ui:define name="titulo">Consulta de lançamentos</ui:define>
	<ui:define name="corpo">
		<h1>Consulta de lançamentos</h1>
		<h:form id="frm">
			<h:dataTable value="#{consultaLancamentosBean.lancamentos}"
				var="lancamento" border="1" cellspacing="0" cellpadding="2">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Pessoa" />
					</f:facet>

					<h:outputText value="#{lancamento.pessoa.nome}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Descrição" />
					</f:facet>
					<h:outputText value="#{lancamento.descricao}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Tipo" />
					</f:facet>
					<h:outputText value="#{lancamento.tipo}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Valor" />
					</f:facet>
					<h:outputText value="#{lancamento.valor}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Data de vencimento" />
					</f:facet>
					<h:outputText value="#{lancamento.dataVencimento}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Data de pagamento" />
					</f:facet>
					<h:outputText value="#{lancamento.dataPagamento}" />
				</h:column>
			</h:dataTable>
		</h:form>
	</ui:define>
</ui:composition>